<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucamp.gyeongjuma_be.audio.repository.AudioRepository">

    <select id="existsByPlaceIdAndAudioUrl" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM audio
            WHERE place_id = #{placeId}
              AND audio_url = #{audioUrl}
        )
    </select>

    <insert id="save">
        INSERT INTO audio (audio_url, place_id, image_url, title, script, play_time)
        VALUES (#{audioUrl}, #{placeId}, #{imageUrl}, #{title}, #{script}, #{playTime})
    </insert>

    <select id="findByPlaceId" resultType="com.ucamp.gyeongjuma_be.audio.dto.AudioResponse">
        SELECT
            a.audio_id AS audioId,
            a.audio_url AS audioUrl,
            COALESCE(NULLIF(a.image_url, ''), p.first_image) AS imageUrl,
            a.title,
            a.script,
            a.play_time AS playTime,
            a.place_id AS placeId,
            p.add1 AS address
        FROM audio a
            JOIN place p
                ON a.place_id = p.place_id
        WHERE a.place_id = #{placeId}
            ORDER BY a.audio_id ASC
    </select>
</mapper>
