<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucamp.gyeongjuma_be.place.repository.PlaceRepository">

    <insert id="saveAll">
        INSERT INTO place (
            place_id,
            place_name,
            add1,
            add2,
            tel,
            content_type_id,
            map_x,
            map_y,
            first_image,
            lcls_systm1,
            lcls_systm2,
            lcls_systm3,
            radius_meters,
            created_at,
            updated_at,
            is_active
        )
        VALUES
        <foreach collection="places" item="place" separator=",">
            (
                #{place.placeId},
                #{place.placeName},
                #{place.add1},
                #{place.add2},
                #{place.tel},
                #{place.contentTypeId},
                #{place.mapX},
                #{place.mapY},
                #{place.firstImage},
                #{place.lclsSystm1},
                #{place.lclsSystm2},
                #{place.lclsSystm3},
                #{place.radiusMeters},
                #{place.createdAt},
                #{place.updatedAt},
                #{place.isActive}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
            place_name = VALUES(place_name),
            add1 = VALUES(add1),
            add2 = VALUES(add2),
            tel = VALUES(tel),
            content_type_id = VALUES(content_type_id),
            map_x = VALUES(map_x),
            map_y = VALUES(map_y),
            first_image = VALUES(first_image),
            lcls_systm1 = VALUES(lcls_systm1),
            lcls_systm2 = VALUES(lcls_systm2),
            lcls_systm3 = VALUES(lcls_systm3),
            radius_meters = VALUES(radius_meters),
            updated_at = VALUES(updated_at),
            is_active = VALUES(is_active)
    </insert>

    <select id="findAll" resultType="com.ucamp.gyeongjuma_be.place.domain.Place">
        SELECT
            place_id AS placeId,
            place_name AS placeName,
            add1,
            add2,
            tel,
            content_type_id AS contentTypeId,
            map_x AS mapX,
            map_y AS mapY,
            first_image AS firstImage,
            lcls_systm1 AS lclsSystm1,
            lcls_systm2 AS lclsSystm2,
            lcls_systm3 AS lclsSystm3,
            radius_meters AS radiusMeters,
            created_at AS createdAt,
            updated_at AS updatedAt,
            deleted_at AS deletedAt,
            is_active AS isActive
        FROM place
        WHERE is_active = true
        ORDER BY place_id DESC
    </select>

</mapper>
